<mat-card class="card mat-elevation-z8" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Gestão Help Desk</mat-card-title>
      <mat-card-subtitle>Felipe Vitorino</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home2.svg" alt="home-image">
    <mat-card-content>
      <h2>
        Bem-vindo ao Gestor de Help Desk!

        Desenvolvido com dedicação por um estudante de programação, este site foi criado para simplificar o gerenciamento de atendimentos e proporcionar uma experiência eficiente tanto para técnicos quanto para clientes.

        Com uma interface intuitiva e funcionalidades pensadas para agilizar o suporte, o Gestor de Help Desk permite:

        Abertura e fechamento de ocorrências de forma rápida e organizada.
        Acompanhamento do status de cada atendimento em tempo real.
        Transferência de chamados para técnicos mais experientes quando necessário.
        Este projeto é o resultado de muito estudo e empenho, buscando atender às necessidades de empresas que desejam otimizar o suporte ao cliente.

        Explore o site e veja como o Gestor de Help Desk pode fazer a diferença no seu dia a dia!
      </h2>
    </mat-card-content>
  </mat-card>
