.container {
  height: 100%;
  background: #ffbc37;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  max-width: 1400px;
}

img {
  height: 30rem;
  margin-right: 15rem; 
  flex-shrink: 0;
}

.form {
  width: 28rem; 
  background-color: #EFEFF6;
  padding: 3rem 1.5rem; 
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  width: 100%;
  text-align: center;
}

button {
  margin-top: 1.5rem;
}

.full-width {
  width: 100%;
}
